#sykkel {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:20px;
    color:green;
    background:red;
    animation: fly 2s linear, drop 3s ease-in-out 3s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fly {
    100% { left:200px; top:200px; }
  }
  @keyframes drop {
     0%     { left:200px; top:200px; }
     50%  { background:green; }
    100%  { left:200px; top:300px; transform:scale(0); }