#varer {
   display: flex;
   flex-wrap: wrap;
border: dashed black 5px;
margin: 5px;
padding: 20px;
}

#varer > div:nth-child(1) {
    background-image: url("../media/hjelm.png");
    height: 200px;
    width: 250px;
    border: solid black 5px;
    margin: 20px;
}

#varer > div:nth-child(2) { background-image: url("../media/merkelig.png");
    height: 200px;
    width: 180px;
    border: solid black 5px;
    margin: 20px;
}

 #varer > div:nth-child(3) { background-image: url("../media/panne.png");
    height: 200px;
    width: 200px;
    border: solid black 5px;
    margin: 20px;
    }
    #varer > div:nth-child(4) {     background-image: url("../media/ski.png");
        height: 200px;
        width: 190px;
        border: solid black 5px;
        margin: 20px;
   }
  #varer > div:nth-child(5) {
                background-image: url("../media/ski2.png");
                height: 200px;
                width: 180px;
                border: solid black 5px;
                margin: 20px;
            }
 #varer > div:nth-child(6) {     background-image: url("../media/skip.png");
    height: 200px;
    width: 120px;
    border: solid black 5px;
    margin: 20px;
                }
  #varer > div:nth-child(7) {     background-image: url("../media/slalomskau.png");
    height: 200px;
    width: 200px;
    border: solid black 5px;
    margin: 20px;
                    }
 #varer > div:nth-child(8) {    background-image: url("../media/slalomsko.png");
    height: 200px;
    width: 170px;
    border: solid black 5px;
    margin: 20px;
                        }
       
#meny {
    position: relative;
    top: -630px;
    left: 150px;
    width: 200px;
    opacity: 0;
}
#meny:hover{
    opacity: 1;
}
#meny > ul {
    list-style: none;
    margin: 5px;
    padding:3px;
}

